
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(22, 22, 22);" >
    <div class="container-fluid" >
      <a class="navbar-brand" style="font-size: 30px; color: white;" routeLink="Inicio" href="#">Wat-Lex</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="justify-content: flex-end; " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="Inicio" style="color: white;" routerLinkActive="active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Galeria" style="color: white;" href="#">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Servicios" style="color: white;" href="">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Contactos" style="color: white;" href="#">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

