<section style="background-image:url(/assets/humo.jpg); height: 600px;">
    <h2 style="color: white; text-align: center;">Servicios</h2>
    <div class="cards" style="display: flex; justify-content: space-around; cursor: pointer;">
<div class="card" style="width: 18rem; border-radius: 20px; margin-top: 50px;">
    <img src="/assets/reloj12.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">El Oyster Perpetual Milgauss es el primer reloj resistente a los campos magnéticos diseñado para responder a las necesidades de los ingenieros y los científicos.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; border-radius: 20px; margin-top: 50px">
    <img src="/assets/reloj11.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">El Oyster Perpetual Milgauss presenta una esfera color negro intenso con índices luminiscentes y un cristal de zafiro verde que produce delicados reflejos preservando una legibilidad óptima.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem; border-radius: 20px; margin-top: 50px">
    <img src="/assets/reloj10.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">La colección de Rolex se compone de relojes clásicos y profesionales disponibles en diferentes materiales, esferas, brazaletes y tamaños adaptados a todas las muñecas y estilos.</p>
    </div>
  </div>
  </div>
  </section>