<section class="container" style="position: relative;">
<div id="carouselExampleControls" class="carousel slide" style="width: 80%; height: 600px; padding-left: 100px;" data-bs-ride="carousel">
    <div class="carousel-inner" style="width: 100%; height: 600px;">
      <div class="carousel-item active">
        <img src="/assets/imagen1.jpg" class="d-block w-100"alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/imagen2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/imagen3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </section>