<section class="container"></section>
<footer class="bg-dark text-white">
    <div class="container">
        <nav class="row">
            <a href="#" class="col-3 text-reset text-uppercase de-flex aling-iems-center" style="padding-top: 50px; font-size: 30px;">Wat-Lex</a>
            <ul class="col-3 list-unstyled" style="padding-top: 20px;">
                <li class="font-weight-bold text-uppercase">Idiomas</li>
                <li><a href="#" class="text-reset"></a>Español</li>
                <li><a href="#" class="text-reset"></a>Ingles</li>
                <li><a href="#" class="text-reset"></a>Chino</li>
                <li><a href="#" class="text-reset"></a>Italiano</li>
            </ul>
            <ul class="col-3 list-unstyled" style="padding-top: 20px;">
                <li class="font-weight-bold text-uppercase">Sucursales</li>
                <li><a href="#" class="text-reset"></a>America</li>
                <li><a href="#" class="text-reset"></a>Europa</li>
                <li><a href="#" class="text-reset"></a>Asia</li>
                <li><a href="#" class="text-reset"></a>Africa</li>
            </ul>
            <ul class="col-3 list-unstyled" style="padding-top: 20px;">
                <li class="font-weight-bold text-uppercase">Redes</li>
                <li class="d-flex justify-content-between">
                    <a href="#" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-reset"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-reset"><i class="fab fa-pinterest-p"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
