
<section class="inicio" style="background-image: url('/assets/relojgaleria2.jpg'); width: 100%; height: 600px;">
    <div class="imagen" style="background-color: rgba(0, 0, 0, 0.836); width: 100%; height: 600px;">
        <h1 style="color: white; text-align: center; padding-top: 150px; font-size:90px; font-family: 'Times New Roman', Times, serif;  "> Wat-Lex</h1>
        <h2 style="color: white; text-align: center; padding-bottom: 30px;">LA AUDACIA DE LA EXCELENCIA</h2>
        <a href="#" style="font-size: 20px; padding: 10px 18px; border-radius: 10px; background-color: white; color: black;  text-decoration: none; margin-left: 620px;">Ver más</a>
    </div>
    
    
</section>