<section class="contactos" style="background-image: url('/assets/reloj5.jpg');width: 100%; height: 600px;">
    <div style="background-color: rgba(0, 0, 0, 0.555); width: 100%; height:600px" class="fon">
    <div class="d-flex justify-content-start" >

        <div class="card col-sm-6 p-3" style="background-color: rgba(0, 0, 0, 0); color: white;">

            <div class="mb-3">
              <h4>Contactos</h4>
            </div>

            <form action="">
                <div class="mb-2">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre " id="nombre" placeholder="Nombre">
                </div>
                <div class="mb-2">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido " id="apellido" placeholder="Apellido">
                </div>
                <div class="mb-2">
                    <label for="Correo">Correo</label>
                    <input type="text" class="form-control" name="correo " id="correo" placeholder="@correo.com">
                </div>
                <div class="mb-2">
                    <label for="Numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="numero" placeholder="264-XXXXXXX">
                </div>
                <div class="mb-2">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" class="form-control" id="mensaje" placeholder="Mensaje"></textarea>
                </div>
                <div class="mb-2">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>
